{% extends "sns/base.html"%}
{% load static %}

{% block title %}FriendList{% endblock %}
{% block content %}
<h2>FriendList</h2>
<div>
<h3>あなたのフレンド</h3>
{% for item in all_friend %}
<div class="card mb-2" style="max-width:auto;" >
    <div class="row no-gutters">
        <div class="col-md-4 my-auto">
            <img class="card-img" src="{{ item.inviter.img.url }}" alt="プロフィール画像" >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{item.inviter.name}}</h5>
                <a class="btn btn-primary" href="{% url 'sns:talkroom_friend' item.id %}">Goto TALK</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


<div>
    <h3>受信したフレンド招待</h3>
    {% if friend_invitation%}
    {% for item in friend_invitation %}
    <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
            <div class="col-md-4 my-auto">
                <img class="card-img" src="{{ item.inviter.img.url }}" alt="プロフィール画像">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.inviter.name}}</h5>
                    <a href="{% url 'sns:friend_request_accept' item.id %}">承認する</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>承認待ちの招待はありません</h5>
    {% endif %}
</div>


<div>
    <h3>送信したフレンド申請</h3>
    {% if your_invitation%}
    {% for item in your_invitation %}
    <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
            <div class="col-md-4 my-auto">
                <img class="card-img" src="{{ item.invitee.img.url }}" alt="プロフィール画像">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.invitee.name}}</h5>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>承認待ちの招待はありません</h5>
    {% endif %}
    
</div>










{% endblock %}