{% extends "sns/base.html"%}
{% load static %}

{% block title %}FriendList{% endblock %}
{% block content %}

<h2>グループリクエストの承認</h2>

<form action="{% url 'sns:group_request_accept' pk %}" method="post">
    {% csrf_token %}
   
   
    <div class="card mb-" style="max-width:auto;" >
        <div class="row no-gutters">
            <div class="col-md-4 my-auto">
                <img class="card-img" src="{{ invitation.inviter.img.url }}" alt="プロフィール画像" >
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{invitation.inviter.name}}</h5>
                    
                        
                            <input type="submit" value="このグループに参加する" class="btn btn-primary mt-2">
                  
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}