{% extends "sns/base.html"%}
{% block content %}

<head>
    <meta charset="utf-8">
    <title>GroupList</title>
    
</head>
<h2>GroupList</h2>
<table class="table">
    <tbody>
        
        {% for item in my_group %}
        
        <tr>
            <td>{{item.group.group_name}}</td>
            <td>your group</td>
            <td><a href="{% url 'sns:talkroom_group' item.group.id %}"> Goto TALK</a></td>
            
            
            
        </tr>
        {% endfor %}
        
        {% for item in group_invitation %}
        <tr>
            <td>{{item.group.group_name}}</td>
            <td>group invitation from other user</td>
            <td><a href="{% url 'sns:group_request_accept' item.id %}">accept</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <p><a href="{% url 'sns:create_group' %}">Create New Group</a></p>
</div>

{% endblock %}