
{% extends "sns/base.html"%}
{% load static %}

{% block title %}UserList{% endblock %}
{% block content %}

<h2>UserList</h2>
<form action="{% url 'sns:user_list' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <tr><th></th><td>
        <input type="submit" value="検索" class="btn btn-primary mt-2">
    </td></tr>
</form>
<br>
<div>

    {% for item in users %}
    <div class="card mb-" style="max-width:auto;" >
        <div class="row no-gutters">
            <div class="col-md-4 my-auto">
                <img class="card-img" src="{{ item.img.url }}" alt="プロフィール画像" >
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <a class="btn btn-primary" href="{% url 'sns:friend_request' item.id %}">友達申請をする</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}